.titulo {
    color: blue;
    font-weight: bold;
}

.parrafo {
    color: blue;
    font-weight: bold;
}

.texto {
    color: blue;
    font-weight: bold;
}

.subtitulo {
    color: blue;
    font-weight: bold;
}